:root {
  line-height: 1.5;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  padding: 0;
  margin: 0;
}

#app {
  padding: 2rem;

  text-align: center;

  min-width: 100%;
  min-height: 100%;

  background: #000;
  color: #f1ffe7;
}

.entrance_by_left {
  animation: enter_by_left;
  animation-duration: 2s;
  animation-delay: 1s;
  animation-fill-mode: backwards;
}

.entrance_colors {
  animation: enter_color;
  animation-duration: 2s;
  animation-delay: 1s;
  animation-fill-mode: backwards;
}

.entrance_by_right {
  animation: enter_by_right;
  animation-duration: 2s;
  animation-delay: 1s;
  animation-fill-mode: backwards;
}

@keyframes enter_by_left {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  60% {
    opacity: 1;
    transform: translateX(10%);
  }
  90% {
    transform: translateX(-10%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes enter_by_right {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  60% {
    opacity: 1;
    transform: translateX(-10%);
  }
  90% {
    transform: translateX(10%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes enter_color {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
