@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .link__box {
    @apply flex items-center my-2 p-1 bg-black rounded ease-in duration-300 shadow hover:transition-shadow hover:shadow-lg hover:shadow-cyan-500/50;
  }
}

@layer components {
  .tool {
    @apply py-1 px-2 m-1 font-bold border rounded flex items-center justify-center transition-colors hover:animate-bounce;
  }
}

@layer components {
  .skill__box {
    @apply font-mono flex items-center py-8 px-4 flex-col my-4 mx-4 h-96 w-80 border rounded-xl border-white shadow duration-1000 hover:transition-shadow hover:shadow-md hover:shadow-cyan-500/50 hover:scale-105;
  }
}

@layer components {
  .select__countries {
    @apply border border-gray-300 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 bg-gray-700 placeholder-gray-400 text-white focus:ring-blue-500;
  }
}

:root {
  line-height: 1.5;
  letter-spacing: 1px;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  
  scroll-behavior: smooth;
  scroll-padding-top: 78px;
}

* {
  padding: 0;
  margin: 0;
}

#app {
  text-align: center;

  min-width: 100%;
  min-height: 100%;

  background: #000;
  color: #f1ffe7;
}

.entrance_by_left {
  animation: enter_by_left;
  animation-duration: 2s;
  animation-delay: 1s;
  animation-fill-mode: backwards;
}

.entrance_colors {
  animation: enter_color;
  animation-duration: 2s;
  animation-delay: 1s;
  animation-fill-mode: backwards;
}

.entrance_by_right {
  animation: enter_by_right;
  animation-duration: 2s;
  animation-delay: 1s;
  animation-fill-mode: backwards;
}

@keyframes enter_by_left {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  60% {
    opacity: 1;
    transform: translateX(10%);
  }
  90% {
    transform: translateX(-10%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes enter_by_right {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  60% {
    opacity: 1;
    transform: translateX(-10%);
  }
  90% {
    transform: translateX(10%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes enter_color {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.header-button-vertical {
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  padding: 2px 0;
}

.header-button-vertical:before {
  content: attr(data-text);
  position: absolute;
  color: #06b6d480;
  border-bottom: 2px solid #06b6d480;
  -webkit-text-stroke: #06b6d480;
  height: 100%;
  overflow: hidden;
  transition: 1s;
}

.header-button-vertical:hover:before {
  border-bottom-color: #f1ffe7;
  height: 0%;
}

.header-button-horizontal {
  position: relative;
  font-size: 2em;
  text-decoration: none;
  letter-spacing: 2px;
  line-height: 1em;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0.5);
}

.header-button-horizontal:before {
  content: attr(data-text);
  position: absolute;
  color: #00ade1;
  border-right: 4px solid #00ade1;
  -webkit-text-stroke: 1px #00ade1;
  width: 0%;
  overflow: hidden;
  transition: 1s;
}

.header-button-horizontal:hover:before {
  width: 100%;
}
