:root {
  line-height: 1.5;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  padding: 0;
  margin: 0;
}

#app {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;

  min-width: 100vw;
  min-height: 100vh;

  background: #000;
  color: #f1ffe7;
}
